@font-face {
    font-family: "HKGrotesk";
    src: url('assets/HKgrotesque/HKGrotesk-Regular.otf');
}

body{
    margin: 0px;
}


.header-logo{
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    padding: 20px;
}

.header-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.header-nav .nav-list .nav-link{
    text-decoration: none;
    display: inline-block;
}

.section-articles .articles-wrapper{
    display: flex;
    margin: 0px 10px 0px 10px;
}

.articles-item{
    padding: 10px;
}


.articles-img img{
    width: 100%;
}

.articles-content{
    text-align: center;
    background-color: white;
}

.articles-content h4{
    margin: 0px;
}

.articles-content p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.section-card h1{
    text-align: center;
}

.articles-link{
    margin-top: 10px;
}

.articles-link a{
    text-decoration: none;
    color: #E74832;
    font-size: 12px;
}

.card-title{
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title h1{
    padding-bottom: 4px;
}

.card-menu{
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-menu-link a{
    text-decoration: none;
    color: #E74832;
    font-size: 12px;
}

.nav-card-link{
    padding: 5px;
}

.card-menu .nav-card-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.card-menu .nav-card-list .nav-card-link{
    text-decoration: none;
    display: inline-block;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.card-thumbnail{
    height: 265px;
    background-size: cover;
}

.card-content h4{
    margin: 0px;
}

.card-content p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-content-link a{
    text-decoration: none;
    color: #E74832;
    font-size: 12px;
}

.card-content-link{
    margin-top: 10px;
}

.section-newsletter{
    height: 456px;
    background-size: cover;
}

.newsletter-content{
    color: white;
    text-align: center;
    padding: 100px 200px 10px 200px;
}

.newsletter-content h4{
    font-size: 52px;
    margin: 0px;
}

.newsletter-content p{
    font-size: 22px;
}

.footer-main{
    background-color: #E74832;
    color: white;
}

.footer-item h5{
    font-size: 22px;
    margin: 0px;
    padding-bottom: 5px;
}

.footer-img{
    padding-right: 100px;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px 20px 50px 20px;
}

.footer-nav-list{
    list-style: none;
    justify-content: center;
}

.footer-nav-list .footer-nav-link{
    text-decoration: none;
    display: inline-block;
    color: white;
}

